

body {
    background: linear-gradient(-45deg, #FFFFFF, #E3E2E2);


}
h1 {
    font-family:georgia;
    color: black;
    text-align: center;

}

ul {font-family: courier new;
    color: black;
    text-align: left;}

p {font-family: courier new;
    color: black;
    text-align: center;
}
img {
    border-radius: 50%;

}

h3 {font-family:georgia;
    color: black;
    text-align: center}

    footer {background:#CFCFCF;
   
}